{% macro number (id, calculate) %}
    {% set calculate = calculate | default(true) %}
    <div class="form-group" ng-controller="ConstraintController"
         ng-init="init('{{ id }}')"
         ng-class="!order&&config.remaining==0?'a-disabled':''"
            >
        <label for="input-{{ id }}" class="col-sm-2 control-label">
            { config.label }
            <span ng-show="config.remaining!=null" class="badge my-badge"
                  title="Dostępna liczba">{ config.remaining }</span>
        </label>

        <div class="col-sm-10">
            {% if calculate %}
            <div class="input-group">
                {% endif %}
                <input type="number" class="form-control"
                       min="0" placeholder="{ config.desc + (!order&&config.remaining==0?' (brak)':'') }"
                       ng-model="value"
                       {#ng-attr-max="{ order? null:config.remaining }"#}
                        >

                {% if calculate %}
                    <div class="input-group-addon">
                        <div
                                ng-bind-html-unsafe="common.axb(value,price)">
                        </div>
                    </div>
                {% endif %}
                {% if calculate %}
            </div>
            {% endif %}
        </div>
    </div>
{% endmacro %}