# This file is a "template" of what your parameters.yml file should look like
parameters:
    database_driver:   pdo_pgsql
    database_host:     ec2-107-20-159-103.compute-1.amazonaws.com
    database_port:     5432
    database_name:     d9ubjsqe1eg545
    database_user:     srrceiazwsthqh
    database_password: heEGl2PVBtQ-wmMsGU2ckrwNZP
    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    locale:            en
    locales:           [en, pl]
    # A secret key that's used to generate certain security-related tokens
    secret:            iaiadshadshiasyut76t76763tcachisu
    #---------------
    nbp_index: http://www.nbp.pl/kursy/xml/dir.txt
    nbp_base: http://www.nbp.pl/kursy/xml/
    acq_start: "070101"
    acq_end: "141231"