# This file is a "template" of what your parameters.yml file should look like
parameters:
    database_driver:   pdo_pgsql
    database_host:     ec2-107-20-159-103.compute-1.amazonaws.com
    database_port:     5432
    database_name:     d9ubjsqe1eg545
    database_user:     srrceiazwsthqh
    database_password: heEGl2PVBtQ-wmMsGU2ckrwNZP

    mailer_transport:  smtp
    mailer_host:       mail.adamborowski.pl
    mailer_user:       kontakt@adamborowski.pl
    mailer_password:   XHIKmg7E

    locale:            pl
    locales:           [en, pl]
    # A secret key that's used to generate certain security-related tokens
    secret:            iaiadshadsasdiasyut76t76763tcachisu
    #---------------
    nbp_index: http://www.nbp.pl/kursy/xml/dir.txt # todo remove
    nbp_base: http://www.nbp.pl/kursy/xml/ # todo remove
    acq_start: "070101" # todo remove
    acq_end: "141231" # todo remove
    respond1: slub@adamborowski.pl
    respond2: fl.borovsky@gmail.com