<ul class="list-group">
    <li class="list-group-item">Chrome 39 @Linux</li>
    <li class="list-group-item">Chrome 41 @Android</li>
    <li class="list-group-item">Firefox 33 @Linux</li>
    <li class="list-group-item">Opera 28 @Linux</li>
    <li class="list-group-item">Internet Explorer 11 @Windows 8.1</li>
</ul>