<ul class="list-group">
    <li class="list-group-item">Symfony 2.6.6</li>
    <li class="list-group-item">Compass</li>
    <li class="list-group-item">jQuery 1.10.2</li>
    <li class="list-group-item">jQuery <a href="https://plugins.jquery.com/splitter/">Splitter</a></li>
    <li class="list-group-item"><a href="http://dygraphs.com/">Dygraph</a> 1.1.0</li>
    <li class="list-group-item">Bootstrap <a href="https://bootswatch.com/paper">Paper</a></li>
</ul>