//@import  "compass/reset";

.a-page-content {
  margin-top: 64px;
}

.navbar-brand {
  padding: 0 10px;
  vertical-align: middle;
  img {
    display: inline-block;
    vertical-align: middle;
    margin:8px 0px;
  }
  font-family: "Droid Sans", sans-serif;
  span:first-child {
    $color: #145790;
    color: $color;
  }
  span:last-child {
    font-weight: bold;
  }

  //  font-size:1.6em;
  text-transform: lowercase;
  span {

  }
}

.a-home-alert {
  margin-top: 20px;
}

.a-table {
  tbody {
    tr {
      cursor: pointer;
    }
  }
}

.a-highlight {
  //  color: #884390;
  color: #00aa00;
  font-weight: bold;
  display: inline-block;
  background: #fff430;
  line-height: 1em;
  padding: 2px 1px;
  margin: 0px -1px;
}

$previewHeight: 300px;

#currency-chart {
//  width: 700px;
  height: $previewHeight;
//  display: inline-block;
}

.a-chart-table-container {
//  display: inline-block;
  height: $previewHeight;
//  width: 235px;
  overflow: auto;
}