@import "compass/css3";

$headerHeight: 64px;
.a-page-content {
  margin-top: $headerHeight;
}

.navbar-brand {
  padding: 0 10px;
  vertical-align: middle;
  img {
    display: inline-block;
    vertical-align: middle;
    margin: 8px 0px;
    width: 48px;
    height: 48px;
  }
  font-family: "Droid Sans", sans-serif;
  span:first-child {
    $color: #145790;
    color: $color;
  }
  span:last-child {
    font-weight: bold;
  }

  //  font-size:1.6em;
  text-transform: lowercase;
  span {

  }
}

.a-home-alert {
  margin-top: 20px;
}

.a-table {
  tbody {
    tr {
      cursor: pointer;
    }
  }
}

.a-highlight {
  //  color: #884390;
  color: #00aa00;
  font-weight: bold;
  display: inline-block;
  background: #fff430;
  line-height: 1em;
  padding: 2px 1px;
  margin: 0px -1px;
}

$previewHeight: 300px;

#currency-chart {
  overflow: visible;
}

.a-chart-table-container {
  table {
    .a-highlighted-row {
      td {
        background: hsl(hue(#2196F3), 50%, 90%);
      }
    }
  }

}

.a-absolute {
  position: absolute;
}

.a-flex {
  @include flex(1);
}

.a-flex-container {
  left: 0;
  top: 0;
  margin-top: $headerHeight;
  margin-bottom: 5px;
  right: 0;
  bottom: 0;
  //  border: 1px solid red;

  @include display-flex();
  @include flex-direction(column);

}

.container {
  @include transition-duration(0.5s);
  @include transition-property(opacity, transform);
  @include opacity(0);
  @include transform(translate(0, -10px));
  &.a-visible {
    @include opacity(1);
    @include transform(none);
  }
}

.nobr {
  white-space: nowrap;
}

.hsplitter {
  height: 15px !important;
  background: none !important;
  position: relative;
  &:after {
    content: ' ';
    position: absolute;
    top: 3px;
    right: 0;
    bottom: 3px;
    left: 0;
    background: #dadada;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+PHN2ZyAgIHhtbG5zOmRjPSJodHRwOi8vcHVybC5vcmcvZGMvZWxlbWVudHMvMS4xLyIgICB4bWxuczpjYz0iaHR0cDovL2NyZWF0aXZlY29tbW9ucy5vcmcvbnMjIiAgIHhtbG5zOnJkZj0iaHR0cDovL3d3dy53My5vcmcvMTk5OS8wMi8yMi1yZGYtc3ludGF4LW5zIyIgICB4bWxuczpzdmc9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiAgIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgICB4bWxuczpzb2RpcG9kaT0iaHR0cDovL3NvZGlwb2RpLnNvdXJjZWZvcmdlLm5ldC9EVEQvc29kaXBvZGktMC5kdGQiICAgeG1sbnM6aW5rc2NhcGU9Imh0dHA6Ly93d3cuaW5rc2NhcGUub3JnL25hbWVzcGFjZXMvaW5rc2NhcGUiICAgd2lkdGg9IjUwIiAgIGhlaWdodD0iNSIgICBpZD0ic3ZnMiIgICB2ZXJzaW9uPSIxLjEiICAgaW5rc2NhcGU6dmVyc2lvbj0iMC40OC40IHI5OTM5IiAgIHNvZGlwb2RpOmRvY25hbWU9Ik5vd3kgZG9rdW1lbnQgMSI+ICA8ZGVmcyAgICAgaWQ9ImRlZnM0IiAvPiAgPHNvZGlwb2RpOm5hbWVkdmlldyAgICAgaWQ9ImJhc2UiICAgICBwYWdlY29sb3I9IiNmZmZmZmYiICAgICBib3JkZXJjb2xvcj0iIzY2NjY2NiIgICAgIGJvcmRlcm9wYWNpdHk9IjEuMCIgICAgIGlua3NjYXBlOnBhZ2VvcGFjaXR5PSIwLjAiICAgICBpbmtzY2FwZTpwYWdlc2hhZG93PSIyIiAgICAgaW5rc2NhcGU6em9vbT0iMTEuMiIgICAgIGlua3NjYXBlOmN4PSItMi4wOTk3NzMzIiAgICAgaW5rc2NhcGU6Y3k9IjkuNjY2OTg4NCIgICAgIGlua3NjYXBlOmRvY3VtZW50LXVuaXRzPSJweCIgICAgIGlua3NjYXBlOmN1cnJlbnQtbGF5ZXI9ImxheWVyMSIgICAgIHNob3dncmlkPSJmYWxzZSIgICAgIGZpdC1tYXJnaW4tdG9wPSIwIiAgICAgZml0LW1hcmdpbi1sZWZ0PSIwIiAgICAgZml0LW1hcmdpbi1yaWdodD0iMCIgICAgIGZpdC1tYXJnaW4tYm90dG9tPSIwIiAgICAgaW5rc2NhcGU6d2luZG93LXdpZHRoPSIxODQxIiAgICAgaW5rc2NhcGU6d2luZG93LWhlaWdodD0iMTA1NiIgICAgIGlua3NjYXBlOndpbmRvdy14PSI3OSIgICAgIGlua3NjYXBlOndpbmRvdy15PSIyNCIgICAgIGlua3NjYXBlOndpbmRvdy1tYXhpbWl6ZWQ9IjEiIC8+ICA8bWV0YWRhdGEgICAgIGlkPSJtZXRhZGF0YTciPiAgICA8cmRmOlJERj4gICAgICA8Y2M6V29yayAgICAgICAgIHJkZjphYm91dD0iIj4gICAgICAgIDxkYzpmb3JtYXQ+aW1hZ2Uvc3ZnK3htbDwvZGM6Zm9ybWF0PiAgICAgICAgPGRjOnR5cGUgICAgICAgICAgIHJkZjpyZXNvdXJjZT0iaHR0cDovL3B1cmwub3JnL2RjL2RjbWl0eXBlL1N0aWxsSW1hZ2UiIC8+ICAgICAgICA8ZGM6dGl0bGU+PC9kYzp0aXRsZT4gICAgICA8L2NjOldvcms+ICAgIDwvcmRmOlJERj4gIDwvbWV0YWRhdGE+ICA8ZyAgICAgaW5rc2NhcGU6bGFiZWw9IkxheWVyIDEiICAgICBpbmtzY2FwZTpncm91cG1vZGU9ImxheWVyIiAgICAgaWQ9ImxheWVyMSIgICAgIHRyYW5zZm9ybT0idHJhbnNsYXRlKDAsLTEwNDcuMzYyMikiPiAgICA8cmVjdCAgICAgICBzdHlsZT0iZmlsbDojMjE5NmYzO2ZpbGwtb3BhY2l0eToxO3N0cm9rZTojMjgyODI4O3N0cm9rZS13aWR0aDowLjYxNTkxNjA3O3N0cm9rZS1taXRlcmxpbWl0OjQ7c3Ryb2tlLW9wYWNpdHk6MTtzdHJva2UtZGFzaGFycmF5Om5vbmUiICAgICAgIGlkPSJyZWN0Mjk4NSIgICAgICAgd2lkdGg9IjQ5LjM4NDA4MyIgICAgICAgaGVpZ2h0PSIwLjM4NDA4MzkiICAgICAgIHg9IjAuMzA3OTU4MDQiICAgICAgIHk9IjEwNTEuNjcwMiIgLz4gICAgPHJlY3QgICAgICAgeT0iMTA0OS42NzAyIiAgICAgICB4PSIwLjMwNzk1ODA0IiAgICAgICBoZWlnaHQ9IjAuMzg0MDgzOSIgICAgICAgd2lkdGg9IjQ5LjM4NDA4MyIgICAgICAgaWQ9InJlY3QzNzczIiAgICAgICBzdHlsZT0iZmlsbDojMjE5NmYzO2ZpbGwtb3BhY2l0eToxO3N0cm9rZTojMjgyODI4O3N0cm9rZS13aWR0aDowLjYxNTkxNjA3O3N0cm9rZS1taXRlcmxpbWl0OjQ7c3Ryb2tlLW9wYWNpdHk6MTtzdHJva2UtZGFzaGFycmF5Om5vbmUiIC8+ICAgIDxyZWN0ICAgICAgIHN0eWxlPSJmaWxsOiMyMTk2ZjM7ZmlsbC1vcGFjaXR5OjE7c3Ryb2tlOiMyODI4Mjg7c3Ryb2tlLXdpZHRoOjAuNjE1OTE2MDc7c3Ryb2tlLW1pdGVybGltaXQ6NDtzdHJva2Utb3BhY2l0eToxO3N0cm9rZS1kYXNoYXJyYXk6bm9uZSIgICAgICAgaWQ9InJlY3QzNzc1IiAgICAgICB3aWR0aD0iNDkuMzg0MDgzIiAgICAgICBoZWlnaHQ9IjAuMzg0MDgzOSIgICAgICAgeD0iMC4zMDc5NTgwNCIgICAgICAgeT0iMTA0Ny42NzAyIiAvPiAgPC9nPjwvc3ZnPg==);
    background-position: center center;
    background-repeat: no-repeat;
  }
}