{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <div class="container">
        <a href="https://github.com/adamborowski/cuvie/tree/master/symfony" target="_blank" style="margin-top:20px;" type="button" class="btn btn-info pull-right" data-container="body">
            {{ 'source_code'|trans|raw }}
        </a>
        <h1>{{ 'about.header'|trans() }}</h1>
        <div>
            {{ include('about.file'|trans) }}
        </div>
    </div>
{% endblock %}