{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    IMPORT!!
    {#result: {{ dbg|length}} from {{ start }} to {{ end }}#}
    {#<div>#}
        {#<ul>#}
            {#{% for entry in dbg %}#}
                {#<li>{{ entry }}</li>#}
            {#{% endfor %}#}
        {#</ul>#}
    {#</div>#}
{% endblock %}
