/* line 3, assetic_compass9Skidm.scss */
.a-page-content {
  margin-top: 64px;
}

/* line 7, assetic_compass9Skidm.scss */
.navbar-brand {
  padding: 0 10px;
  vertical-align: middle;
  font-family: "Droid Sans", sans-serif;
  text-transform: lowercase;
}
/* line 10, assetic_compass9Skidm.scss */
.navbar-brand img {
  display: inline-block;
  vertical-align: middle;
  margin: 8px 0px;
}
/* line 16, assetic_compass9Skidm.scss */
.navbar-brand span:first-child {
  color: #145790;
}
/* line 20, assetic_compass9Skidm.scss */
.navbar-brand span:last-child {
  font-weight: bold;
}

/* line 31, assetic_compass9Skidm.scss */
.a-home-alert {
  margin-top: 20px;
}

/* line 37, assetic_compass9Skidm.scss */
.a-table tbody tr {
  cursor: pointer;
}

/* line 43, assetic_compass9Skidm.scss */
.a-highlight {
  color: #00aa00;
  font-weight: bold;
  display: inline-block;
  background: #fff430;
  line-height: 1em;
  padding: 2px 1px;
  margin: 0px -1px;
}

/* line 56, assetic_compass9Skidm.scss */
#currency-chart {
  height: 300px;
}

/* line 62, assetic_compass9Skidm.scss */
.a-chart-table-container {
  height: 300px;
  overflow: auto;
}
