<md-tabs flex md-stretch-tabs="always" class="md-primary">
    <md-tab label="one">
        <md-tab-body>
            <md-card class="a-card-padding">
                <md-card-content>
                    <h2>Do zrobienia</h2>

                    <p>
                        Teraz trzeba zrobić taki ładny REST API a potem zrobić tabelke i kontroler do tych danych
                    </p>
                </md-card-content>
                <div class="md-actions" layout="row" layout-align="end center">
                    <md-button>Action 1</md-button>
                    <md-button>Action 2</md-button>
                </div>
            </md-card>
        </md-tab-body>
    </md-tab>
    <md-tab label="Two">
        <md-tab-body>
            <md-card class="a-card-padding">
                <md-card-content>
                    <h2>Kalatorofania</h2>

                    <p>
                        request, as well...
                    </p>
                </md-card-content>
                <div class="md-actions" layout="row" layout-align="end center">
                    <md-button>Action 1</md-button>
                    <md-button>Action 2</md-button>
                </div>
            </md-card>
        </md-tab-body>
    </md-tab>
</md-tabs>