<div layout="column" flex class="a-main-content">
    <md-toolbar>
        <div class="md-toolbar-tools a-light-icons">
            <md-button class="md-icon-button" ng-click="toggleSidenav('left')" hide-gt-md aria-label="Menu">
                <ng-md-icon icon="menu"></ng-md-icon>
            </md-button>
            <h2>
                {{ 'app.subtitle'|trans }}
            </h2>
            <span flex></span>
            <md-button class="md-icon-button" aria-label="Search">
                <ng-md-icon icon="search"></ng-md-icon>
            </md-button>
            <md-button class="md-icon-button" aria-label="More">
                <ng-md-icon icon="more_vert"></ng-md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-tabs flex md-stretch-tabs="always" class="md-primary a-main-content">
        <md-tab label="one">
            <md-tab-body>
                <md-card class="a-card-padding">
                    <md-card-content>
                        <h2>Paracosm</h2>

                        <p>
                            The titles of Washed Out's breakthrough song and the first single from Paracosm share
                            the
                            two most important words in Ernest Greene's musical language: feel it. It's a simple
                            request, as well...
                        </p>
                    </md-card-content>
                    <div class="md-actions" layout="row" layout-align="end center">
                        <md-button>Action 1</md-button>
                        <md-button>Action 2</md-button>
                    </div>
                </md-card>
            </md-tab-body>
        </md-tab>
        <md-tab label="Two">
            <md-tab-body>
                <md-card class="a-card-padding">
                    <md-card-content>
                        <h2>Kalatorofania</h2>

                        <p>
                            request, as well...
                        </p>
                    </md-card-content>
                    <div class="md-actions" layout="row" layout-align="end center">
                        <md-button>Action 1</md-button>
                        <md-button>Action 2</md-button>
                    </div>
                </md-card>
            </md-tab-body>
        </md-tab>
    </md-tabs>
</div>